<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <h2 id="reg">Register</h2>

<form  class="signup" action="/signup" method="post">
    <div>
        <label for="">Username</label>
        <input type="text" name="name">
    </div>
    <div class="email">
        <label for="">Email</label>
        <input type="email" name="email" >
    </div>
    <div>
        <label for="">Create Password</label>
        <input type="password" name="password">
    </div>
    <div>
      <button> Signup</button>
    </div>
</form>
<p id="s">Already a user ?<a href="/signin">Login</a></p>
</body>
</html>
